/*----------------------------------
common
-----------------------------------*/

/*@font-face{
	font-family: "Ubuntu";
	src: url("ubuntu-font-family-0.83/Ubuntu-R.ttf");
}
*/
body{
	width: 100%;
	padding-top: 15px;
}

.sup{
	  vertical-align: super;
    font-size: 14px;
}

.white{
	background-color: #fff;
}

/* for all image in link*/
/* this option enable an oportunity to set
	width and heght of an image via setting this
	parameters only on <a> parent container*/
a>img{
	width: inherit;
	height: inherit;
}

main{
	margin-bottom: 55px;
}

hr{
	margin-bottom: 50px;
}

.container{
	max-width: 890px;
	width: 80%;
	margin: 0 auto;
	display: block;
}

.container-big{
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
	display: block;
}


.inline{
	display: inline-block;
}

@media screen and (max-width: 680px) {
	.container, .container-big{
		width: 96%;
	}
}


/* arrows */
.arrow-down{
    position: absolute;
    border-top: 6px solid #283754;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    /* 0 - base rigth posittion and 6px is the bt width witch is the
    arrow width*/
    right: calc(0% - 6px);
    /* 50% set top point to the parent middle and move arrow up
    to its height witch is the left and right border width of 4px*/
    top: calc(50% - 4px);
    width: 0;
    height: 0;
}