/*----------------------------------
header
-----------------------------------*/

.section-header{
	color: #283754;
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.nav-block{
	width: 890px;
	height: 65px;	
	margin: 0 auto;
	font-size: 0;
}

.logo{
	display: inline-block;
	vertical-align: middle;
	width: 30%;
}

/*override global settings*/
.logo>img{
	/*all of those sets to inherit for all a>img on this site*/
	width: auto;  
	height: auto;
}

/* menus with buttons*/
.nav-menu{
	width: 70%;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
}
.nav-menu>*{
	text-align: left;
}


.nav-menu_element{
	height: inherit;
	display: inline-block;
	/*vertical-align: top;*/
	margin-right: 25px;
	padding-top: 18px;
	box-sizing: border-box;
}
.nav-menu_element:last-child{
	margin-right: 0;
}

.nav-menu_link{
	text-decoration: none;
	color: #283754;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	display: block;
}

.nav-menu_link:hover{
	text-decoration: underline;
}

.nav-menu_current-link{
	color:#8f7559;
	text-decoration: none;
	pointer-events: none;
	cursor: default;
}

.dropdown-menu-colder{
	position: relative;
}

/* dropdown menu*/
.dropdown-menu-holder{
	position: relative;
	padding-right: 4px;
}

.header-block-menu{
	display: none;
	position: absolute;
}
.header-block-menu li{
	/*margin-bottom: 10px;*/
	padding: 15px;
}

.header-block-menu li:last-child{
	margin-bottom: 0;
}
.header-block-menu li:hover{
	background-color: lightgray;
}

.dropdown-menu-holder:hover .header-block-menu{
	display: block;
	z-index: 1;
	box-shadow: 0 8px 18px;
	width: 200px;
	background-color: white;
	/*padding: 15px;*/
}

/* main page dont have those*/
.bg-line{
	height: 54px;
	background-color: #283754;
	margin-bottom: 30px;
}
.bg-line .container{
	line-height: 54px;
	text-align: right;
}

.bg-line span{
	background-color: #283754;	
	text-align: right;
	vertical-align: middle;
	color: #fefefe;
	font-family: 'Ubuntu', sans-serif;
	font-size: 35px;
	font-weight: 400;
	line-height: 1.2;
	text-transform: uppercase;
}