/*--------------------------------------
main section with serching tools and some
house images 
----------------------------------------*/
.serch-block{
	text-align: center;
	margin-bottom: 70px;
}

.serch-block .buttons{
	padding: 0 20px;
	box-sizing: border-box;
	font-size: 0;
}

.buttons-block{
	height: 34px;
	width: 24.25%;
	min-width: 150px;
	display: inline-block;
	margin: 0 5px 5px 0;
	transition: all .3s ease;
}
	
.buttons-block:last-child{
	margin-right: 0;
}

.buttons-block>*{
	width: 100%;
	height: 100%;
}

.buttons-block>select{
	box-sizing: border-box;
	padding-left: 15px;
	border-radius: 1px 2px 2px 1px;
	border: 1px solid #283754;
	color: #010101;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-transform: capitalize;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
  background: url("../../img/select-icon.png") no-repeat 95% 50%;
}
.buttons-block>input{
	margin-right:0;
	border:none;
	border-radius: 1px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-align: left;
	text-transform: capitalize;
	padding-left: 16px;
	box-sizing: border-box;
	background: url("../../img/serch-batton-icon.png") no-repeat 90.4% 50% #283754;
	transition: all .3s ease;
}

.buttons-block>input:focus{
	outline: none;
}
.buttons-block>input:hover{
	cursor: pointer;
	background-color:#284051;
}

@media screen and (max-width: 550px) {
	.buttons-block{
		width: 100%;
	}
}